@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
#header {
  padding: 20px;
}
#header .inner {
  display: flex;
  flex-direction: column;
  padding: 0px 80px;
}
#header .inner .util {
  text-align: right;
}
#header .inner .util li {
  display: inline-block;
  margin-right: 10px;
}
#header .inner .util li a {
  text-decoration: none;
  color: #333;
  font-family: "SUITE-Regular";
}
#header .inner .header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .inner .header_top h1 {
  margin-right: 20px;
}
#header .inner .header_top h1 a {
  text-decoration: none;
  color: royalblue;
  font-size: 24px;
  font-weight: bold;
  font-family: "SUITE-Regular";
}
#header .inner .header_top .search_box {
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 4px;
  margin-right: 20px;
}
#header .inner .header_top .search_box .search {
  border: none;
  outline: none;
  padding: 8px;
  width: 400px;
}
#header .inner .header_top .search_box .search::-moz-placeholder {
  color: #ccc;
}
#header .inner .header_top .search_box .search::placeholder {
  color: #ccc;
}
#header .inner .header_top .search_box i {
  margin-right: 8px;
  color: #333;
  cursor: pointer;
}
#header .inner .header_top .nav {
  list-style: none;
  display: flex;
}
#header .inner .header_top .nav li {
  margin-left: 10px;
}
#header .inner .header_top .nav li a {
  text-decoration: none;
  color: #333;
}
#header .inner .header_bottom {
  margin-top: 15px;
}
#header .inner .header_bottom ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .inner .header_bottom ul li {
  margin-right: 20px;
}
#header .inner .header_bottom ul li a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
#header .inner .header_bottom ul .wraps {
  display: flex;
}
#header .inner .header_bottom ul .wraps li {
  margin-right: 10px;
}
#header .inner .header_bottom ul .wraps li a {
  text-decoration: none;
  color: #333;
}

/* 슬라이더 스타일 */
.slider {
  background-color: #f1f1f1;
  padding: 20px;
  height: 400px;
}
.slider p {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin: 150px auto;
}

/* 상품 슬라이더 스타일 */
.container_food_slider {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.container_food_slider .inner {
  margin: 0 auto;
}
.container_food_slider .inner h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.container_food_slider .inner .wrap {
  display: flex;
  justify-content: center;
}
.container_food_slider .inner .wrap article {
  margin-right: 20px;
}
.container_food_slider .inner .wrap article .img {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  margin-bottom: 10px;
}
.container_food_slider .inner .wrap article p {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
.container_food_slider .inner .wrap article span {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

section.products h1 {
  text-align: center;
  margin-top: 70px;
}
section.products .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 가운데 정렬을 위해 추가 */
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
  margin: 20px;
}
section.products .wrap .product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
}
section.products .wrap .product img {
  width: 100%;
  border-radius: 5px;
}
section.products .wrap .product h2 {
  margin: 10px 0;
}
section.products .wrap .product p {
  color: #777;
}
section.products .wrap .product button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* 푸터 스타일 */
#footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
#footer .inner .wrap {
  display: flex;
  justify-content: space-between;
}
#footer .inner .wrap .left h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
#footer .inner .wrap .left span {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
#footer .inner .wrap .right ul {
  list-style: none;
  display: flex;
}
#footer .inner .wrap .right ul li {
  margin-right: 20px;
}
#footer .inner .wrap .right ul li a {
  text-decoration: none;
  color: #fff;
}
#footer .inner .wrap .right .info span {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}/*# sourceMappingURL=style.css.map */